apiVersion: v1
kind: ConfigMap
metadata:
name: vector-config
namespace: vector
data:
vector.toml: |
data_dir = "/var/lib/vector"

[sources.udp_logs]
type = "socket"
mode = "udp"
address = "0.0.0.0:514"

[sinks.console]
type = "console"
inputs = ["udp_logs"]
encoding.codec = "json"
