apiVersion: apps/v1
kind: Deployment
metadata:
  name: vector
  namespace: vector
  labels:
    app: vector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vector
  template:
    metadata:
      labels:
        app: vector
    spec:
      containers:
        - name: vector
          image: XXXXXXXX:5050/soc/base-images:vector-037
          imagePullPolicy: IfNotPresent
          args:
            - "--config"
            - "/etc/vector/vector.toml"
          ports:
            - containerPort: 15140
              hostPort: 15140
              protocol: UDP
          volumeMounts:
            - name: vector-config
              mountPath: /etc/vector
      volumes:
        - name: vector-config
          configMap:
            name: vector-config
